<!DOCTYPE html>
<html lang="ja">
<%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/option.css">

  <body>
    <%- include('./partials/gtag'); %>
      <%- include('./partials/header'); %>
        <section class="commercial">
          <div class="commercial-base">
            <h2>特定商取引に関する法律に基づく表示</h2>
            <ul>
              <li>
                <dl>
                  <dt>
                    販売業者：株式会社薩摩恵比寿堂<br>
                    運営統括責任者：藤根力<br>
                    所在地：鹿児島県鹿児島市宇宿２丁目２３－３<br>
                    電話番号：099-259-5511<br>
                    メールアドレス：info@suijinclub.jp
                  </dt>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■販売数量：</dt>
                  <dd>各商品ページにてご確認ください。<br></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>
                    ■引き渡し時期：ご注文から７営業日以内に発送いたします。
                  </dt>
                  <dd>
                    ※オリジナルラベルデザインなどお客様へご確認事項のある商品に関しては確認完了日が注文完了日となります。
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■販売制約：</dt>
                  <dd>
                    20歳未満の方の飲酒は法律で禁止されています。<br>
                    20歳未満の方へのお酒の販売は行っておりません。
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■お支払い方法について：</dt>
                  <dd>
                    <ul>
                      <li>
                        ●クレジットカード決済（VISA / MASTER / JCB / AMEX / DINERS）
                      </li>
                      <li>●代金引換</li>
                    </ul>
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■返品期限：</dt>
                  <dd>
                    商品到着後3日以内とさせていただきます。商品に欠陥がある場合を除き、お客様都合による返品には応じかねますので予めご了承ください。
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■返品送料：</dt>
                  <dd>
                    初期不良、発送商品間違いの場合、当店着払いにて対応いたします。
                  </dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>■資格・免許情報等：</dt>
                  <dd>
                    <ul>
                      <li>
                        ・酒類販売業免許番号<br>
                        鹿児島酒指第127号
                      </li>
                      <li>
                        ・標識の表示：<br>
                        販売場の名称及び所在地<br>
                        株式会社薩摩恵比寿堂<br>
                        鹿児島県鹿児島市宇宿二丁目23-3号
                      </li>
                      <li>・酒類販売管理者の氏名：藤根 力</li>
                      <li>
                        ・酒類販売管理研修受講年月日：令和４年５月１１日
                      </li>
                      <li>
                        ・次回研修の受講期限：令和７年５月１０日
                      </li>
                      <li>
                        ・研修実施団体名：鹿児島小売酒販組合
                      </li>
                    </ul>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </section>
        <%- include('./partials/footer'); %>
          <%- include('./partials/optionmenu'); %>
  </body>

</html>