<!DOCTYPE html>
<html lang="ja">
<%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/company.css">

  <body>
    <%- include('./partials/gtag'); %>
      <%- include('./partials/header'); %>
        <main>
          <div class="mission">
            <div class="company-image">
              <img src="/img/ebisudo.png" alt="会社イメージ">
            </div>
          </div>
          <div class="company-text">
            <div class="company-area">
              <h1>会社概要</h1>
              <ul class="flexarea">
                <li class="content">
                  <ul>
                    <li class="li01">商号</li>
                    <li class="li02">株式会社薩摩恵比寿堂</li>
                  </ul>
                  <ul>
                    <li class="li01">所在地</li>
                    <li class="li02">
                      <ul>
                        <li class="lili01">〒890-0073鹿児島県鹿児島市宇宿2丁目23番3</li>
                        <li class="lili02">TEL：099-259-5511（代表）</li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li class="li01">代表者</li>
                    <li class="li02">代表取締役&nbsp;藤根 力</li>
                  </ul>
                  <ul>
                    <li class="li01">資本金</li>
                    <li class="li02">300万円</li>
                  </ul>
                  <ul>
                    <li class="li01">従業員</li>
                    <li class="li02">42名（2024年2月1日現在）</li>
                  </ul>
                  <ul>
                    <li class="li01">営業品目</li>
                    <li class="li02">テレマーケティングで全国の飲食店へ鹿児島本格焼酎を販売、サプリ及び酒器、その他販促品等の販売</li>
                  </ul>
                  <ul>
                    <li class="li01">提携蔵元／企業</li>
                    <li class="li02">
                      三和酒造株式会社、神酒造株式会社、天星酒造株式会社、翁酒造株式会社、種子島酒造株式会社、大石酒造株式会社、沖永良部酒造株式会社、南アルプスワインビバレッジ株式会社、三国ワイン株式会社、株式会社CruX、株式会社渡邊佐平商店
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </main>
        <%- include('./partials/footer'); %>

          <%- include('./partials/optionmenu'); %>
  </body>

</html>