<!DOCTYPE html>
<html lang="ja">
<%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/common.css">

  <body>
    <%- include('./partials/gtag'); %>
      <section class="apparea">
        <%- include('./partials/header'); %>
          <main>
            <div id="1st" class="main-wrapper">
              <div class="entry-headline">
                <h1>あなたのお店は<br>記憶に残る店ですか？</h1>
                <article class="entry-text">
                  <p>
                    &emsp;もっとたくさんのお客様に楽しんで欲しい。飲食店に関わる人なら誰でもそんな想いを持っているもの。だからこそ、がんばっているのに結果が出ない。どうしてあの店はウチより賑わっているのだろう…。そんな悔しさを感じることはありませんか？<br>
                    &emsp;だけど…もし繁盛しているお店が、昔はあなたと同じ悩みを抱えていて、今はちょっとした工夫で繁盛しているとしたら？<br>
                    「そんな方法があるならやってみたい」そんなお店に『泡ラヴァーズ』では、自然とお店がにぎわってしまう秘密の作戦をご紹介しています。<br>
                  </p>
                </article>
                <img class="forsp" src="/img/back02.png" alt="bottle">
              </div>
              <div id="2nd" class="main-headline">
                <h1>
                  ウソのようなホントの話。<br>オリジナルボトルは<br>繁盛の決め手です。
                </h1>
                <span class="border1"><img src="/img/back_border_01.png" alt="goldborder"></span>
                <div class="main-flex">
                  <div class="flex-item forpc">
                    <img src="/img/back02.png" alt="main_logo">
                  </div>
                  <div class="flex-item">
                    <article class="main-text">
                      <p>
                        なぜなら『泡ラヴァーズ』でオススメしているのは『お客様の記憶に残るスパークリング』だから。<br>
                        あなたのお店に必要なのは、お店オリジナルのラベルのボトル。それだけでいろんなことがいい方に変わっていく。そんな夢みたいな話はすぐに信じられないですか？でも聞くだけなら損はしないはずです。
                      </p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-wrapper">
              <div class="sub-headline">
                <div class="sub-merit"></div>
                <h1>繁盛店はもう<br>はじめていました</h1>
                <h2 id="3rd"><span class="red">【お客様の声】</span></h2>
                <span class="border1"><img src="/img/back_border_01.png" alt="goldborder"></span>
                <article class="sub-text">
                  <p>
                    &emsp;メリットはわかったから、1分でも早く『記憶に残るスパークリング』が欲しい。その気持ち、よくわかります。でも、その前に実際に体験したお店から話を聞いてみませんか？繁盛へつながる理由がわかればきっと安心できるはずです。
                  </p>
                </article>
              </div>
            </div>
            <div class="news-wrapper">
              <div class="flex-item">
                <div class="news-item">
                  <img src="/img/news.jpg" alt="newssample1">
                  <div class="news-area">
                    <div class="newstext-area">
                      <p>2023-12-02</p>
                      <h3>
                        コロナ禍中の新規開店。いつの間にか地域で１番店になった理由とは?
                      </h3>
                    </div>
                    <p class="news-text">
                      「正直、最初は疑ってました。それがこんな事になるなんて」
                      &emsp;うれしそうに語るのは、『メゾンドスパイ』のオーナー武田梨恵さん。九州新幹線の本格開通とともに激戦区となった鹿児島中央駅エリアの隠れ家的バーです。このお店、平日でも開店直後にお客様が訪れるほど話題のスポット。オープンから2ヶ月でこの状態になったとか。その秘密とは？
                    </p>
                    <div class="lookmore">
                      <a href="/news/1"><img src="/img/button02.png" alt="さらに見る"></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="flex-item">
                <div class="news-item">
                  <img src="/img/news.jpg" alt="newssample1">
                  <div class="news-area">
                    <div class="newstext-area">
                      <p>2022-12-02</p>
                      <h3>
                        コロナ禍中の新規開店。いつの間にか地域で１番店になった理由とは?
                      </h3>
                    </div>
                    <p class="news-text">
                      「正直、最初は疑ってました。それがこんな事になるなんて」
                      &emsp;うれしそうに語るのは、『メゾンドスパイ』のオーナー武田梨恵さん。九州新幹線の本格開通とともに激戦区となった鹿児島中央駅エリアの隠れ家的バーです。このお店、平日でも開店直後にお客様が訪れるほど話題のスポット。オープンから2ヶ月でこの状態になったとか。その秘密とは？
                    </p>
                    <div class="lookmore">
                      <a href="/news/2"><img src="/img/button02.png" alt="さらに見る"></a>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
            <div class="read-next">
              <img src="/img/button03.png" alt="readnext">
            </div>
            <%- include('./partials/appeal'); %>
          </main>
          <%- include('./partials/form'); %>
            <%- include('./partials/footer'); %>
              <div class="fixed_btn">
                <img class="fiximg forsp" src="/img/vote_sp.png" alt="fixedvote">
              </div>
      </section>
      <%- include('./partials/menu'); %>
  </body>

</html>