<!DOCTYPE html>
<html lang="ja">
<%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/news.css">

  <body>
    <%- include('./partials/gtag'); %>
      <section class="apparea">
        <%- include('./partials/header'); %>
          <main>
            <div class="news-main-wrapper">
              <div class="news-entry-headline">
                <h1>
                  コロナ渦中の新規開店。<br>いつの間にか地域で１番店になった理由とは？
                </h1>
                <p class="date">2023.12.28</p>
                <hr>
                <h3>
                  【鹿児島】メゾンドスパイ&nbsp;オーナー<br>武田梨恵さん
                </h3>
                <img src="/img/news_main_01.jpg" alt="newsmain">
                <div class="news-flex-item">
                  <article class="news-entry-text">
                    <p>
                      「正直、最初は疑ってました。それがこんな事になるなんて」<br>
                      &emsp;うれしそうに語るのは、『メゾンドスパイ』のオーナー武田梨恵さん。九州新幹線の本格開通とともに激戦区となった鹿児島中央駅エリアの隠れ家的バーです。<br>
                      &emsp;このお店、平日でも開店直後にお客様が訪れるほど話題のスポット。オープンから2ヶ月でこの状態になったとか。その秘密とは？<br><br>
                      「周りの人たちに助けられているだけで、秘密なんてホントになんにもないですよ。あえて言うならこれ…かな？」<br>
                      &emsp;そういってカウンターと酒棚に置かれたボトルを指さします。<br><br>
                      「見てください。うちのお酒。どのお店でもみたことがない銘柄がたくさんでしょう？」<br>
                      &emsp;え？これが周りの店がうらやむほどの繁盛の秘密…ですか？
                    </p>
                  </article>
                </div>
              </div>
              <div class="news-main-headline">
                <div class="appeal-image order_link">
                  <img src="/img/icon01.png" alt="getitstarted">
                  <div class="exp-text order_link">
                    <h3 class="green">→今すぐ体験する</h3>
                  </div>
                </div>
                <h1>新型コロナ第2波の中。ほぼ未経験からの開店。</h1>
                <img src="/img/news_main_02.jpg" alt="newsmain">
                <div class="news-flex-item">
                  <article class="news-main-text">
                    <p>
                      「ウチの店、マンボウ中にオープンしちゃったんですよ（笑）」<br>
                      &emsp;今ではいくらか落ち着いた感もあるコロナの影響ですが、『日本の飲食店に未来はなくなった』とささやかれたほどの自粛ムードはまだ記憶に新しいところ。閉店する店も出てくるほどのあきらめムードのただよう中、なぜ開店を？<br><br>
                      「実はワタシ、コロナ直後に東京からUターンしてきて、生活のためにはこれしか選択肢がなかったんです（笑）」<br>
                      &emsp;というと…勢いだけでこの店のオープンを？<br><br>
                      「半分当たってます（笑）。でも半分ハズレです」<br>
                      &emsp;小さい頃からいつも、『理解不能の行動をする』と周囲をハラハラさせるタイプだったと言う梨恵さん。このお店の開店を決めたときもご両親・友人からの猛反対を受けたそう。<br><br>
                      「未経験なのに、何考えてるんだ！って。しかも新型コロナの影響まっただ中（笑）。でも今だから言えますが、お店がにぎわう決め手となった出会いがあったんですよ」
                    </p>
                  </article>
                </div>
              </div>
              <div class="news-main-headline">
                <h1>
                  開店前の不安の中、繁盛しているお店のオーナーから聞いたこと。
                </h1>
                <img src="/img/news_main_03.jpg" alt="newsmain">
                <div class="news-flex-item">
                  <article class="news-main-text">
                    <p>
                      「鹿児島に帰ってきた時に飲食店をプロデュースしてる人と出会ったんです。『僕のプロデュースしたお店に来てみれば参考になるはずだよ』って。半ば無理やり連れてかれて（笑）。そのお店に知らないラベルのお酒があって、よく売れてる。ってお店のオーナーからお聞きしたんです。<br>
                      &emsp;その時は『どうしてみたこともないお酒が売れてるんだろう。』って思いました。<br>
                      &emsp;でも、なんかかわいくって。何も考えずにオリジナルラベルを用意しました。開店を決めたばかりで、やれることはやってみよう。って（笑）」<br><br>
                      &emsp;それがこのずらりと並ぶボトルというわけですか。ウイスキー・ワイン・スパークリング…よく見ると全てのお酒に『メゾンドスパイ』のロゴがさりげなく施されていますね。<br>
                      &emsp;たしかに興味をそそるラベルですが、このオリジナルラベルが繁盛の秘密と言われてもなんだかピンと来ない。というのが率直な感想です。<br><br>
                      「ワタシも最初はそう思ってました。ラベルがオリジナルだからお客さんが増える。そんな話ウソみたいですよね（笑）でもしばらくしたら、自然に繁盛への方程式ができているのに気づきました」<br>
                      &emsp;『繁盛への方程式』ですか？その話すごく興味があります。というか絶対に教えてください！
                    </p>
                  </article>
                </div>
              </div>
              <div class="news-main-headline">
                <div class="appeal-image order_link">
                  <img src="/img/icon01.png" alt="getitstarted">
                  <div class="exp-text order_link">
                    <h3 class="green">→今すぐ体験する</h3>
                  </div>
                </div>
                <h1>やってみてはじめて実感した「繁盛への方程式」</h1>
                <img src="/img/news_main_04.jpg" alt="newsmain">
                <div class="news-flex-item">
                  <article class="news-main-text">
                    <p>
                      「お店の雰囲気、ポジション、お客様の来店理由などシーンに合わせた『パターン』が大事なんです。」<br>
                      &emsp;お客さんの来店パターンには大きく３つある。といいます。<br><br>
                      「一つ目は、新規・未来店のお客様への効果です。SNS、特にインスタグラムでの宣伝は最近では常識になってますよね。私の場合、お客様が投稿する写真にウチの店のラベルがいつも映るように工夫しました。<br>
                      『インスタ映え』というんですか、『ここにしかないお酒がある！』って、お客様の投稿でお店を紹介してもらえるようになりました。宣伝効果はバツグン。実際に、インスタで気になって。というお客さんが増えました。だから初めてのお客様でも話題づくりもしやすいんです」<br>
                      &emsp;SNSでの宣伝効果。これは想像しやすいですね。<br><br>
                      「次にリピートのお客様へのアピール。近所に住んでいる。お仕事の帰り道など、常連になりやすいお客様にはボトルキープがオススメです。<br>
                      &emsp;この店だけのラベルのお酒を楽しんでいただく。それをひたすら繰り返す。これが自分のお店を思い出してもらう大事なきっかけです。『なんかね、また来たくなっちゃった』。ってお客様に言われて気づきました。<br>
                      『視覚に訴える』。先ほどのお店をプロデュースしている人に教えてもらったことですが、今も役に立っています。もちろんお手頃価格で、おいしいことが絶対条件ですけどね（笑）。」<br>
                      &emsp;視覚に訴える。よく聞く言葉ですが、なるほど、例をあげられると確かに大事な要素であることがわかります。<br><br>
                      「最後にリピーターのご友人。一番わかりやすい『方程式』です。ちょっといいことあったから。久しぶりに会ったから。など、ご友人を連れてくるのには必ず理由があります。うちではさりげなくその理由を聞いて、お祝いや出会いのご挨拶に、オリジナルラベルのスパークリングをプレゼントしたりしています。そうすればほとんどのお客様がリピートします。一本のボトルがさらにご友人を連れてくる。というわけです。ちょっと素敵でしょ？<br>
                      &emsp;一本もサービス？と思われがちですが、仕入れが安いから大丈夫。それでお客様が増えるなら安いモンでしょう？開店して約一年経ちますが、ウチではそんな好循環を何度も体験してきました。」
                    </p>
                  </article>
                </div>
              </div>
            </div>
            <div class="news-sub-wrapper">
              <div class="news-sub-headline">
                <div class="appeal-image order_link">
                  <img src="/img/icon01.png" alt="getitstarted">
                  <div class="exp-text order_link">
                    <h3 class="green">→今すぐ体験する</h3>
                  </div>
                </div>
                <h1>
                  まずはやってみる。<br>体験した人にしかわからない感動があります
                </h1>
                <img src="/img/news_main_05.jpg" alt="newsmain">
                <article class="news-sub-text">
                  <p>
                    「オススメはなんといってもスパークリングです。結果が出るのが早いですから。」<br>
                    &emsp;結果が早い。ですか？<br>
                    「スパークリングって高いイメージあるでしょう？でもウチで出しているスパークリングは、おいしいけどお手頃価格。だからお店からプレゼントしても、お客様が周りにふるまっても、お財布があまり痛まないから安くで楽しんでもらえる。だから何回も来てもらえる。売上も自然に増える。というわけです。」<br>
                    &emsp;なるほど、オリジナルラベルからはじまる繁盛の方程式。よくわかりました。たかがラベルされどラベル。ですね。<br><br>
                    「最初はワタシの話をうたがって聞いていたお店のオーナーもいましたが、今ではオリジナルラベルを使ってこっそりお客様を増やしているようです（笑）。<br>
                    &emsp;ワタシ、『今日が人生の最後の日だとしたら何をやるか』という言葉が好きなんです。思い立ったらすぐ動いちゃう。『あの時やっておけばよかった』ってならないようにね（笑）<br>
                    &emsp;こんな時代だからこそ小さな工夫が大きな売上につながるのを実感しています。まだ、はじまったばかりのお店ですが、この感動をたくさんのお店、たくさんのお客様に味わって欲しいです。このすごさ、一回始めてみればすぐにわかると思いますよ。
                  </p>
                </article>
              </div>
            </div>
            <%- include('./partials/appeal'); %>
          </main>
          <%- include('./partials/form'); %>
            <%- include('./partials/footer'); %>
              <div class="fixed_btn">
                <img class="fiximg forsp" src="/img/vote_sp.png" alt="fixedvote">
              </div>
      </section>
      <%- include('./partials/newsmenu'); %>
  </body>

</html>