<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <header>
      <h2><%= title %>画面</h2>
      <button
        type="button"
        class="button-g button-6 gototop"
        onclick="location.href='/'"
      >
        トップへ</button
      ><br />
      <span id="search_result">ヒット件数：&ensp;<%= data.length %>件 </span>
    </header>
    <table class="maintbl">
      <tr>
        <th class="narrow">
          <i
            class="fa-solid fa-circle-down"
            onclick="location.href='/contact?item=id&sort=desc'"
          ></i
          >ID<i
            class="fa-solid fa-circle-up"
            onclick="location.href='/contact?item=id&sort=asc'"
          ></i>
        </th>
        <th class="wide">コンタクト文章</th>
        <th class="narrow">連絡方法</th>
        <th>更新時間</th>
      </tr>
      <% for ( let i=0; i < data.length; i++ ) { %>
      <tr>
        <td><%= data[i].id %></td>
        <td><%= data[i].contactname %></td>
        <td><%= data[i].method %></td>
        <td><%= time[i] %></td>
      </tr>
      <% } %>
    </table>
    <%- include('./partials/footer'); %>
  </body>
</html>
